@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    background-color: #000;
    color: whitesmoke;
}

main {
    max-width: 350px;
}

h1 {
    color: rgb(207, 207, 207);
    font-size: 1.8rem;
}

p, span {
    color: rgb(207, 207, 207);
    padding-top: 10px;
    line-height: 1.5rem;
}

.highlight {
    /* color: rgb(195, 161, 145); */
    color: #fff;
}

/* Links */

a {
    color: rgb(91, 139, 221);
    text-decoration-color: rgb(91, 139, 221, 0.5);
}

a:hover, a:focus {
    color: rgb(145, 182, 246);
    text-decoration-color: rgb(145, 182, 246, 0.5);
}

a:active {
    color: rgb(245, 245, 245);
    text-decoration-color: rgb(245, 245, 245, 0.5);
}

ul.links {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    /* float: left; */
    display: inline;
}

.links li {
    /* display: inline-block; */
    display: inline-block;
    margin-right: 8px;
}



@media (prefers-color-scheme: light) {
    .adaptive-theme {
        background-color: #ffffff;
        color: #000;
    }

    .adaptive-theme p {
        color: #000;
    }

    .faded {
    color: rgba(0, 0, 0, 0.5)
    }
}

@media (prefers-color-scheme: dark) {
    .faded {
    color: rgba(255, 255, 255, 0.5)
    }
}